include ../partials/head
	
body
	.side_menu
		ul
			li
				a(href="") Users
			li
				a(href="") Visitors
			li
				a(href="/admin/websites") Websites
			li
				a(href="") Code

	.main_section
		header
			h1 Admin

		section
			block content

		.rightSide
			//- h2 Websites
			//- ul
			//- 	li 6omedia
			//- 		.forms
			//- 			h4 6omedia Forms
			//- 			ul
			//- 				li Contact
			//- 				li Enquirey
			//- 	li Makeuptutorials
			//- 	li FX Options Pro
