nav.top_nav
	p Hey, #{user.name}
	ul
		li
			a(href="/dashboard", class=(current == 'dashboard' ? 'current' : false)) Dashboard
		li
			a(href="/websites", class=(current == 'websites' ? 'current' : false)) Websites
		li
			a(href="/audiences", class=(current == 'audiences' ? 'current' : false)) Audiences
		li
			a(href="/blocked-devices", class=(current == 'blocked_devices' ? 'current' : false)) Blocked Devices
		li
			a(href="/profile", class=(current == 'profile' ? 'current' : false)) Profile
		li
			a(href="/logout") Logout