extends layout

block content

	include ./partials/nav

	.darkCont
		h1 Dashboard
		
		.theContainer
			.panel
				h2 API Key
				b Current API Key: 
				span#apikey #{user.apikey}
				br
				if !user.apikey || user.apikey == 'none'
					.btn#genApiKey Generate API key
				else
					.btn#genNewApiKey Generate New API key
			.panel#tracking_code
				h2 Tracking Code
				p Include both...
				code https://clientjs.org/js/client.min.js
				br
				code http://eveningbastion.6omedia.co.uk/static/js/jollyfrog.min.js
				br
				br
				p and then add the tracking code in the head after those scripts
				code #{tracking_code}

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="/static/js/popup.js")
	script(src="/static/js/dashboard.js")