extends layout

block content

	.darkCont
		h1 Sign Up for JollyFrog

		form(action="/register", method="post")
			ul
				li
					label Name
					input(type="text", name="name")
				li
					label Email
					input(type="email", name="email")
				li
					label Password
					input(type="password", name="password")
				li
					label Confirm Password
					input(type="password", name="confirm_password")
				li
					button(type="submit") Sign Up

		.error #{error}