* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Righteous', cursive;
	font-family: 'Molengo', sans-serif;
	/*font-family: 'Bubblegum Sans', cursive;*/
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.break {
    width: 100%;
}

.half {
    width: 48%;
    float: left;
}

.half_gap {
    margin-right: 4%;
}

.right {
    float: right;
}

.x {
    float: right;
    background: #959595;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    line-height: 1em;
    margin-top: 2px;
    transition: 0.3s;
    cursor: pointer;
}

.x:hover {
    background: #000;
}

/* FORM ELEMENTS */

.btn {
    background: #387395;
    color: #e0f4ff;
    cursor: pointer;
}

.invalid {
    border: solid 2px #c93838 !important;
}

.messageBox {
    position: absolute;
    top: 0px;
    background: #fff;
    width: 100%;
    left: 0px;
    text-align: center;
    padding: 10px 0px;
    border-top: solid;
    color: green;
}

.messageBox.error {

}

#theMessage {
    display: none;
    position: fixed;
    bottom: 0px;
    background: #fff;
    text-align: center;
    width: 100%;
    padding: 25px;
    font-size: 20px;
    background: #fff;
    border-top: solid 4px #8ae09e;
}

#theMessage p {
    margin-bottom: 0px;
}

#theMessage.error_msg {
    border-top: solid 4px #b63f3f;
}

#theMessage.slideup {
    display: block;
}

.side_menu {
    background: linear-gradient(#001a32, #5c6a53);
    width: 120px;
    float: left;
    height: 100%;
    color: #fff;
    padding-top: 55px;
}

.side_menu ul {
	padding: 0px;
	list-style: none;
}

.side_menu ul li {
    height: 80px;
    text-align: center;
    padding-top: 45px;
    border-bottom: solid 1px #01433c;
}

.side_menu ul a {
	color: #fff;
}

.main_section {
    background: #f8fff0;
    width: calc(100% - 120px);
    float: left;
    height: 100%;
}

.main_section header {
    background: #112a32;
    color: #f8fff0;
    padding: 10px 15px;
}

.main_section header h1 {
	margin: 0px;
    font-size: 32px;
    display: inline-block;
}

.main_section header a {
    color: #fff;
    float: right;
    padding-right: 20px;
    font-size: 20px;
}

.main_section .rightSide {
    float: right;
    width: 260px;
}

section {
	padding: 15px;
}

.main_section section {
    width: calc(100% - 260px);
    float: left;
}

/*.panel {
    display: inline-block;
    background: white;
    padding: 10px;
    border: solid 1px #eaeaea;
    box-shadow: 3px 2px 16px 0px rgba(17, 42, 50, 0.12);
    margin: 0px 15px 15px 0px;
}*/

table {
    position: relative;
}

table th,
table td {
    padding: 5px 15px;
}

table th {
    background: #c6e8df;
    color: #317765;
}

table tr:nth-child(even){
    background: #eff7f4;
}

.rightSide {
    background: linear-gradient(#ade5e0, #e5e28f);
    height: 100%;
    padding: 15px;
}

.rightSide ul {
    padding: 0px;
    list-style: none;
}

.darkCont {
    /*background: linear-gradient(-45deg, #001a32, #5c6a53);*/
    background: linear-gradient(-45deg, #ffeded, #afe0b7);
    background-attachment: fixed;
    text-align: center;
    min-height: 100%;
    padding: 80px;
}

.darkCont p {
    color: #434343;
}

.darkCont h1 {
    color: #159a63;
}

.darkCont > h1 {
    padding: 0px 32%;
}

.darkCont h1 a {
    color: cornsilk;
    font-weight: bold;
}

.darkCont form {
    background: #fff;
    max-width: 380px;
    margin: 65px auto;
    padding: 20px;
    box-shadow: 0px 0px 100px rgba(255, 254, 211, 0.5);
    border-radius: 2px;
    border-bottom: solid 2px #cdd2d5;
}

.darkCont form ul {
    padding: 0px;
    list-style: none;
}

.darkCont form label {
    display: block;
    font-size: 20px;
}

.darkCont form input {
    margin-bottom: 10px;
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    background: cornsilk;
    box-shadow: inset 3px 2px 8px rgba(0, 0, 0, 0.08);
}

.darkCont form input:focus {
    background: #ffea96 !important;
    box-shadow: none !important;
    outline: none;
}

.darkCont form button {
    background: linear-gradient(#1f8969, #125c45);
    border: none;
    padding: 5px 20px;
    margin-top: 10px;
    color: #deece7;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 5px;
}

.theContainer {
    margin-top: 40px;
    text-align: left;
    overflow: hidden;
    position: relative;
}

.grey {
    background: #f4f4f4;
    color: #444;
}

.error {
    color: #ff9696;
    font-size: 21px;
}

.panel {
    display: inline-block;
    background: #fcfffb;
    padding: 10px;
    border: solid 1px #bed0c3;
    margin: 0px 15px 15px 0px;
    vertical-align: text-top;
}

.panspin {
    position: relative;
}

.panspin:before {
    content: '';
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.89) url('../img/833.gif') no-repeat 50%;
    width: 100%;
    height: 100%;
    position: absolute;
}

.panel .btn {
    margin-top: 10px;
}

.panel h2 {
    margin-bottom: 15px;
    font-size: 26px;
}

.panel ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.panel p {
    color: #555;
}

/* NAV */

.top_nav {
    background: #85ac8e;
    /*border-bottom: solid 3px #387395;*/
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.top_nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding: 0px 10px;
    float: right;
}

.top_nav ul li {
    display: inline-block;
}

.top_nav ul li a {
    color: #fff;
    margin-right: 0px;
    padding: 5px 10px;
    display: inline-block;
}

.top_nav p {
    color: #fff;
    margin: 0px;
    display: inline-block;
    padding: 5px 0px 0px 15px;
    font-weight: bold;
}

a.current {
    /*background: #387395;*/
    background: #8ae09e;
}

.theSide {
    width: 20%;
    float: left;
    margin-right: 2%;
}

.main_bit {
    width: 78%;
    float: right;
    background: #f4f4f4;
    padding: 20px 0px 0px 0px;
}

.theSide .side_shadow {
    background: #fff;
    padding: 10px;
    /*box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.15);*/
    position: relative;
    min-height: 100%;
    max-height: 800px;
}

.spinning::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9) url(../img/spin.gif) no-repeat 50% 125px;
    background-size: 32px;
    z-index: 1;
}

table.spinning::before {
    background: rgba(255, 255, 255, 0.9) url(../img/spin.gif) no-repeat 50%;
    background-size: 32px;
}

.theSide .websites ul li {
    background: linear-gradient(#e8ecfe, #fff);
    padding: 10px;
    margin-top: 20px;
    border-top: solid 2px;
}

.websites ul li.selected {
    background: linear-gradient(#feffbf, #fff);
}

/*.theSide .websites ul li {
    background: linear-gradient(#e8ecfe, rgba(255, 255, 255, 0));
    padding: 10px;
    margin-top: 20px;
    border-top: solid 2px;
}*/

.theSide .websites h2 {
    font-size: 24px;
}

.statsCont {
    background: #f4f4f4;
    overflow: hidden;
}

.websiteList label, 
.websiteList .btn {
    display: none;
}
.edit_mode label,
.edit_mode .btn {
    display: block;
}

.edit_mode {
    background: linear-gradient(#78ade2, #fff) !important;
    border-top: solid 2px #3472af !important;
}

.edit_mode input {
    font-size: 20px !important;
    padding: 5px 10px;
    width: 100%;
    border: none;
    border-bottom: solid 2px #ced2e8;
    margin-bottom: 10px;
}

.edit_mode input:focus {
    border-bottom: solid 2px #66d4ff;
    outline: none;
}

.websiteList input[disabled="disabled"] {
    background: transparent;
    border: none;
}

.websiteList .websiteName_input {
    font-size: 24px;
}

.websiteList .actions {
    text-align: right;
}

/*.websiteList .actions span,
.websiteList .actions a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    cursor: pointer;
}*/

.actions {
    text-align: right;
}

.actions span,
.actions a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.actions .forms {
    background: url(../img/forms.png) no-repeat 50%;
    background-size: 100%;
}

.actions .stats {
    background: url(../img/stats.png) no-repeat 50%;
    background-size: 100%;
}

.actions .edit {
    background: url(../img/edit.png) no-repeat 50%;
    background-size: 100%;
}

.actions .remove {
    background: url(../img/delete.png) no-repeat 50%;
    background-size: 100%;
}

.actions .emails {
    background: url(../img/email.png) no-repeat 50%;
    background-size: 100%;
}

.main_bit .stats {
    padding: 15px 0px;
}

.main_bit .stats .header {
    margin-bottom: 20px;
}

.box.pageviews {
    width: 55%;
    float: left;
    margin-right: 2%;
}

.box.uniquedevices {
    width: 41%;
    float: left;
}

.btn_openform {
    width: 100%;
    background: #112437 url(../img/ddarrow.png) no-repeat 97% 50%;
    color: #fff;
    background-size: 20px;
    text-align: left;
    border-radius: 0px;
}

.btn_openform.open {
    background: #003468 url(../img/duarrow.png) no-repeat 97% 50%;
}

#new_website_form {
    display: none;
    background: #638db7;
    padding: 10px;
}

#new_website_form label {
    display: block;
    background: #457db5;
    color: #daedff;
    padding: 0px 10px;
    margin-bottom: 0px;
}

#new_website_form input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px 10px;
    border: none;
}

.btn.save {
    background: linear-gradient(#ffef94, #fff9d1);
    cursor: pointer;
    color: #204060;
    border-top: solid 1px #fff;
    width: 100%;
    font-weight: 600;
}

/* libs */ 

.c_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    top: 0px;
}

.c_modal .box {
    background: #fff;
    padding: 25px;
    min-width: 365px;
    text-align: center;
    margin: 85px auto;
    max-width: 670px;
}

.c_modal button {
    margin: 0px 5px;
    background: #327172;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
}

.thUrl {
    max-width: 320px;
}

.filters {
    margin: 10px 0px;
}

.filters li {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    color: #35aa8b;
    text-decoration: underline;
}

.filters li.current {
    font-weight: bold;
}

.sideList {
    background: #fff;
    height: 100%;
    padding: 20px;
}

.sideList ul li {
    border-bottom: solid 1px #ccc;
    padding: 5px 0px;
}

.sideList ul li:last-child {
    border-bottom: none;
}

.sideList ul li span {
    display: inline-block;
}

.main_bit input {
    margin-bottom: 20px;
    padding: 5px 10px;
}

#deviceNameInput {
    display: block;
}

/* Forms */

.aForm {
    width: 285px;
    background: #fff;
    box-shadow: 2px 4px 8px #ececec;
    height: 285px;
    padding: 10px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    /*overflow: hidden;*/
    position: relative;
}

.aForm .actions {
    position: absolute;
    bottom: 0px;
}

.aForm .actions li {
    display: inline-block;
    padding: 10px 24px;
    border: none;
}

.aForm .actions a,
.aForm .actions span {
    cursor: pointer;
}

.aForm .more {
    display: inline-block;
    width: 100%;
}

.aForm h3 {
    font-size: 22px;
    border-bottom: solid 2px #387395;
    padding: 0px 5px 5px 0px;
    margin-bottom: 0px;
}

.aForm ul li {
    border-bottom: solid 1px #ddd;
    padding: 10px 0px;
}

.aForm ul li p {
    margin: 0px;
}

.aForm.new {
    background: url(../img/plus.png) no-repeat 50%, linear-gradient(#e7e7e7, #c0c0c0);
    cursor: pointer;
}

.aForm.new:hover {
    background: url(../img/plus.png) no-repeat 50%, #ccc;
}

.aForm .x {
    position: absolute;
    top: -12px;
    right: -10px;
}

.newForm {
    background: #ececec;
    width: 530px;
    float: left;
    margin-right: 20px;
    padding: 15px;
    margin-top: 10px;
    position: relative;
}

.newForm li {
    padding: 10px 20px;
    border-top: solid 2px;
    margin-bottom: 10px;
    background: #dbdbdb;
    position: relative;
}

.newForm .x {
    position: absolute;
    top: -12px;
    right: -7px;
    background: #000;
}

.newForm label {
    width: 200px;
}

.newForm input {
    clear: both;
    margin-bottom: 0px;
    width: 240px;
}

.addField {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.addField span {
    background: #387395;
    color: #fff;
    display: inline-block;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 23px;
    line-height: 0.7em;
}

.input_required {
    vertical-align: middle;
    width: 15px;
    height: 15px;
}

/* Dashboard */

#tracking_code {
    width: 600px;
}

#tracking_code code {
    color: #275481;
    background-color: #e8f3ff;
    display: inline-block;
    word-break: break-all;
}

/* Audiences */

/*.audiences .half {
    position: relative;
}

.disable:before {
    content: '';
    position: absolute;
    background: #ffffffc2;
    width: 100%;
    height: 100%;
}

.audiences .half p {
    background: #fff;
    padding: 5px 10px;
    margin-bottom: 0px;
}

.audiences #new_website_form {
    display: block;
}

.audiences .half span {
    color: #fff;
    display: inline-block;
}

.audiences input[type="checkbox"] {
    width: auto !important;
    display: inline-block !important;
    margin-top: 7px;
    float: right;
}

.audiences hr {
    clear: both;
    margin: 0px;
}

.audiences .theWebsites {
    overflow: hidden;
    background: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.audiences .theWebsites span {
    color: #000;
}

.audiences .theWebsites input {
    float: none;
    margin-right: 10px;
}

#yeah_hmm {
    display: inline-block;
    width: 280px;
    font-size: 13px;
    color: #fff;
    margin: 3px 0px 8px 0px;
}
*/
.datepicker {
    cursor: pointer;
}

/* BUTTONS */

.btn {
    background: #40cbe2;
    color: #f3fbff;
    cursor: pointer;
    border-radius: 2px;
    border-bottom: solid 2px #31aec3;
    transition: background 0.2s;
}

.btn:hover {
    background: #4bdcf4;
}

.btn:active {
    border-bottom: none;
    margin-top: 2px;
}

.add {
    padding-left: 45px;
    position: relative;
}

.add:before {
    content: '+';
    position: absolute;
    width: 35px;
    height: 100%;
    background: #119fb6;
    top: 0px;
    left: 0px;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    transition: background 0.2s;
}

.add:hover::before {
    background: #13b8d3;
}

.full {
    width: 100%;
}

/* FORMS */

.like_input {
    background: #fff;
    display: inline-block;
    /*border: solid 1px #aaa;*/
    padding: 5px 10px;
    width: 215px;
    position: relative;
    box-shadow: 2px 2px 0px #ececec;
}

.like_input:before {
    content: '▼';
    position: absolute;
    right: 0px;
    top: 0px;
    background: #40cbe2;
    width: 35px;
    height: 34px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
}

.like_input p {
    display: inline-block;
    margin: 0px;
}

.form ul li {
    position: relative;
}

.form input,
.form select {
    border: none;
    box-shadow: 2px 2px 0px #ececec;
    min-width: 309px;
}

.form select {
    padding: 5px 10px;
}

.checkBox {
    width: 15px;
    height: 15px;
    background: #f4f4f4;
    display: inline-block;
    margin-right: 10px;
}

.checkBox.ticked {
    position: relative;
}

.checkBox.ticked:before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    position: absolute;
    background: #2a8f9f;
    left: 3px;
    top: 3px;
}

.multiple_select {
    display: none;
    box-shadow: 2px 2px 0px #ececec;
    position: absolute;
    left: 0px;
    top: 66px;
    background: #40cbe2;
    width: 215px;
    padding: 10px;
    z-index: 1;
}

.multiple_select .aList span {
    color: #026474;
}

.open + .multiple_select {
    display: inline-block;
}

#new_audience_form ul {
    margin-bottom: 40px;
}

#new_audience_form ul li {
    display: inline-block;
}

#theError {
    display: none;
}

#audiences {
    margin-top: 10px;
}

#audiences > li {
    border-top: solid 3px #40cbe2;
    margin-bottom: 28px;
    background: linear-gradient(#cff8ff, #fff);
    padding: 10px 15px;
}

#audiences p {
    font-size: 24px;
}