include ../partials/head
	
body
	include ../partials/nav
	.darkCont
		h1 Audiences

		.theContainer
			.statsCont
				.theSide
					include ./side
				.main_bit
					block content

	#theMessage
		p

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="/static/js/popup.js")
	script(src="/static/js/main.js")
	script(src="/static/js/form.js")
	script(src="/static/js/bootstrap-datepicker.js")
	script(src="/static/js/audiences.js")